baseURL: "https://rednafi.com"
title: Redowan's Reflections
paginate: 20
theme: PaperMod
pluralizelisttitles: false

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
googleAnalytics: G-11NK905JK8

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: Redowan's Reflections
  description: >
    Hi, I'm Redowan Delowar—a wandering autodidact with a flair for ones and zeros. I
    sporadically rant and write about Python, Go, JavaScript, SQL, and the broader
    landscape of software in general.
  keywords: [
    # Meta
    Redowan, Delowar, Redowan Delowar, rednafi, SWE, software, software engineering,
    Redowan Nafi, Nafi,

    # Languages
    Python, JavaScript, TypeScript, Go, Golang, HTML, CSS,

    # Stack
    Backend, Networking, APIs, AWS, Google Cloud, Distributed systems, microservices,
    monoliths,

    # Databases
    Databases, SQL, SQLite, PostgreSQL, MySQL, NoSQL, Redis, MongoDB, DynamoDB,

    # Frameworks
    Django, Flask, FastAPI, Starlette, HTMX, VueJS,

  ]
  author: "Redowan Delowar"
  images: [
    "https://user-images.githubusercontent.com/30027932/234678636-4748b670-faa3-481a-b74a-abf49b6de261.png"
  ]
  DateFormat: "January 2, 2006"
  defaultTheme: light # dark, light
  disableThemeToggle: true
  ShowReadingTime: false
  ShowShareButtons: false
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  ShowWordCount: false
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: true
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: true
  tocopen: false
  hideFooter: true
  ShowAllPagesInArchive: true
  ShowFullTextinRSS: false
  mainSections:
    - databases
    - javascript
    - misc
    - python
    - typescript
    - go

  assets:
    #disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "https://user-images.githubusercontent.com/30027932/234704858-2cff14b0-bdf1-4393-a184-cff35eb9de81.png"
    favicon16x16: "https://user-images.githubusercontent.com/30027932/234704858-2cff14b0-bdf1-4393-a184-cff35eb9de81.png"
    favicon32x32: "https://user-images.githubusercontent.com/30027932/234704858-2cff14b0-bdf1-4393-a184-cff35eb9de81.png"
    apple_touch_icon: "https://user-images.githubusercontent.com/30027932/234704858-2cff14b0-bdf1-4393-a184-cff35eb9de81.png"
    safari_pinned_tab: "https://user-images.githubusercontent.com/30027932/234704858-2cff14b0-bdf1-4393-a184-cff35eb9de81.png"

  label:
    text: "Redowan's Reflections"
    # icon: "https://user-images.githubusercontent.com/30027932/234704858-2cff14b0-bdf1-4393-a184-cff35eb9de81.png"
    # iconHeight: 23

  # home-info mode
  homeInfoParams:
    Content: >
      <div class="container">

        <div class="text">
          <h1 class="bio-title">Hi, I'm Redowan!</h1>
          <br>
          And this is my digital taxidermy shop.
          <div class="bio-urls">
            <a href="tags">tags</a>
            <span> • </span>
            <a href="search">search</a>
            <span> • </span>
            <a href="index.xml">rss</a>
          </div>
        </div>
      </div>
  # socialIcons:
  #   - name: twitter
  #     url: "https://twitter.com/rednafi"
  #   - name: stackoverflow
  #     url: "https://stackoverflow.com/users/8963300/redowan-delowar"
  #   - name: github
  #     url: "https://github.com/rednafi"
  #   - name: "rss"
  #     url: "https://rednafi.com/index.xml"

  analytics:
    google:
      SiteVerificationTag: "google-site-verification=GoibEK52o5Z7xpKQ7ppTd8bA_s1wQp5hcG7aIWPJJfk"
    bing:
      SiteVerificationTag: "XYZabc" # automatically imported from google
    yandex:
      SiteVerificationTag: "cb037a09f985e313"

  cover:
    hidden: false # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: false # hide on single page
    image: https://user-images.githubusercontent.com/30027932/234678636-4748b670-faa3-481a-b74a-abf49b6de261.png

  editPost:
    URL: "https://github.com/rednafi/rednafi.com/blob/main/content"
    Text: "Suggest changes" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 200
    threshold: 0.3
    minMatchCharLength: 2
    keys: ["title", "tags", "permalink", "summary", "content"]

menu:
  main:
    - identifier: zephyr
      name: zephyr
      title: zephyr
      url: /zephyr/
      weight: 1

    - identifier: archives
      name: archives
      url: /archives/
      weight: 2

    - identifier: about
      name: about
      title: about
      url: /about/
      weight: 3

# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: true
markup:
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    guessSyntax: false
    # lineNos: true
    # style: custom-syntax-highlight
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: true
      linkifyProtocol: https
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      attribute:
        block: false
        title: true
      autoHeadingID: true
      autoHeadingIDType: github
      wrapStandAloneImageWithinParagraph: true
    renderer:
      hardWraps: false
      unsafe: true
      xhtml: false

outputs:
  home:
    - HTML
    - RSS
    - JSON # is necessary
