.main {
  padding: 15px;
}
body {
  font-family: "Inter", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.55;
  word-break: break-word;
  background: var(--theme);
  font-weight: 400 !important;
}
.page-header h1 {
  font-size: 26px;
}
.social-icons a svg {
  height: 15px;
  width: 15px;
}
.social-icons {
  padding: 0px 0;
}
.social-icons a:not(:last-of-type) {
  margin-inline-end: 12px;
}
