body {
    font-family: -apple-system, BlinkMacSystemFont, 'JetBrains Mono', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16.5px;
    line-height: 1.5;
    word-break: break-word;
    background: var(--theme);
}

.page-header h1 {
    font-size: 30px;
}

.social-icons a svg {
    height: 20px;
    width: 20px;
}
.social-icons {
    padding: 0px 0;
}
.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}
