.post-title {
    margin-bottom: 2px;
    font-size: 30px;
}

.post-content code {
    margin: auto 4px;
    padding: 4px 6px;
    font-size: 0.90em;
    line-height: 1.5;
    background: var(--code-bg);
    border-radius: 2px;
}

.toc {
   font-size: 0.90em;
}
