.first-entry {
    min-height: 20px;
}
.first-entry .entry-header h1 {
    font-size: 27px;
}
.first-entry .entry-content {
    font-size: 17px;
}
.entry-content {
    font-size: 16px;
    line-height: 1.5;
}
