.first-entry {
    min-height: 20px;
    text-align: center;
}
.first-entry .entry-header h1 {
    font-size: 27px;
}
.first-entry .entry-content {
    font-size: 16.5px;
}
.entry-content {
    font-size: 14.5px;
    line-height: 1.5;
}
