.post-title {
    margin-bottom: 2px;
    font-size: 30px;
}

.post-content h1 {
    font-size: 28px;
}

.post-content h2 {
    font-size: 25px;
}

.post-content h3 {
    font-size: 23px;
}

.post-content code {
    margin: auto 4px;
    padding: 4px 6px;
    font-size: 0.90em;
    line-height: 1.5;
    border-radius: 2px;
    color: var(--hljs-color) !important;
}

.toc {
   font-size: 0.90em;
}
