.first-entry {
    min-height: 210px;
    text-align: left;
    margin: 0.5rem;
}
.first-entry .entry-header h1 {
    font-size: 2rem;
}
.first-entry .entry-content {
    font-size: 16px;
}
.entry-header h2 {
    font-size: 1.4rem;
}
.entry-content {
    font-size: 15px;
    line-height: 1.5;
}
.bio-text{
    margin-top: 0.4rem;
}
.secondary-urls{
    margin-top: 0.4rem;
    color: var(--secondary-urls);
}
.secondary-urls a{
    color: var(--secondary-urls);
}
