.post-title {
  margin-bottom: 2px;
  font-size: 26px;
}

.post-content h1 {
  font-size: 26px;
}

.post-content h2 {
  font-size: 22px;
}

.post-content h3 {
  font-size: 18px;
}

.post-content code {
  margin: auto 4px;
  padding: 4px 6px;
  font-size: 0.9em;
  font-family: "Jetbrains Mono", monospace;
  line-height: 1.5;
  border-radius: 2px;
  color: var(--code-color) !important;
}

.post-content pre code {
  background: var(--code-bg) !important;
}

.toc {
  font-size: 0.9em;
}

.toc .details {
  display: inline;
  font-weight: 400 !important;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline-flex;
  color: var(--secondary);
  margin-inline-start: 8px;
  font-weight: 400 !important;
  user-select: none;
}

.post-content img {
  border-radius: 4px;
  border: 3px solid var(--code-bg);
  margin: 1rem 0;
}
.post-content img[src*="#center"] {
  margin: 1rem auto;
}

/* Add [] to footnote-ref and remove url underline */
a.footnote-ref {
  box-shadow: none;
}
a.footnote-ref::before {
  content: "[";
}
a.footnote-ref::after {
  content: "]";
}
