:root {
    --gap: 20px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fefcf6;
    --entry: #fefcf6;
    --primary: #1b1c18;
    --secondary: #1b1c18;
    --tertiary: #d6d6d6;
    --content: #1b1c18;
    --hljs-bg: #f2f1eb;
    --code-bg: #f2f1eb;
    --bio-urls: #496727;
}
