<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
    <link rel="me" href="https://fosstodon.org/@rednafi">
    <link rel="me" href="https://twitter.com/rednafi">
    <link rel="me" href="https://github.com/rednafi">
    <link rel="alternate" href="https://rednafi.com/index.xml" type="application/atom+xml" title="Redowan Delowar">

    <!-- Preload only critical fonts (Regular and JetBrains Mono Regular) -->
    <link rel="preload" href="https://blob.rednafi.com/static/fonts/inter-v18-latin-regular.woff2" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="https://blob.rednafi.com/static/fonts/jetbrains-mono-v18-latin-regular.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>
